<div class="container text-center mt-3 mb-3 col-md-8">
    <form class="card bg-light ml-3 mr-3" action="/order/edit/{{car._id}}" method="post">
        <h1 class="text text-primary mt-2 mb-2">Edit</h1>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Name</label>
            <input class="form-control" type="text" name="Name" value={{ car.Name }} required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Quantity</label>
            <input class="form-control" type="text" name="Quantity" value={{ car.Quantity}} required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Price</label>
            <input class="form-control" type="text" name="Price" value={{ car.Price}} required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Date</label>
            <input class="form-control" type="text" name="Date" value={{ car.Date }} required>
        </div>
        
        <select id="branch" name="branch"> 
        <option>BMW </option>
        <option>Toyota </option>
        </select>

        <div class="form-group mt-2 mb-2">
            <input class="btn btn-danger" type="submit" value="Edit">
        </div>
    </form>
</div>